
{% for bundle in bundles %}
<span class="bundle row col-12">
{% for product in bundle.products %}

    <div class="allegroProduct col-md-4 mt-2 mb-2">
        <div class="poss col-12 h-100 p-0">
            <a href="https://a.allegroimg.com/s1024/01100e/9c869ebe48129822b1605ecd4605" target="_blank">
                <img src="{{product.image}}">
            </a>
            <div class="details">
                <p>{{product.name}}</p>
                <p>{{product.price}} Zł</p>
            </div>
        </div>
    </div>

{% endfor %}

<div class="buyBundle" itemid="{{bundle.id}}">
    KUP
</div>

</span>
{% endfor %}