
{% for bundle in bundles %}

        <h2 class="w-100">Lepiej w zestawie</h2>

        {% for product in bundle.products %}
        <div class="product col-md-4" itemid="{{product.id}}">
            <div class="top row">

            </div>
            <div class="productImage">
                <img src="{{product.image}}">
            </div>
            <div class="info">
                <p>{{product.name}}</p>
                <p>{{product.price}} Zł</p>
            </div>
        </div>
        {% endfor %}
        <div id="buy" class="col-md-3 offset-md-9 mt-md-5 mt-md-0 mt-5">
            <p>Kup zestaw</p>
        </div>

{%endfor%}