
{%extends 'deals/layout.html' %}

{% load static %}
{%block content%}


    <main>
        <div id="productList" class="col-10 offset-1 row">


            {%for product in products %}
            
                <div class="product col-lg-3 col-md-4" itemid="{{product.id}}">
                    
                    <div class="top row">
                        <div class="choose col-6 row align-items-center p-1">
                            <div class="sad col-6 p-1">
                                <img src="{% static 'minus_white.png' %}">
                            </div>
                            <div class="happy col-6 p-1">
                                <img src="{% static 'plus_white.png' %}">
                            </div>
                        </div>
                        <div class="rank row col-6 p-0 ">
                            <p class="score col-6">{{product.cebulions}}</p>
                            <div class="happy col-6 mt-1">
                                <img src="{% static 'onion.png' %}">
                            </div>
                        </div>
                    </div>
                    <a href="{{product.id}}/">
                        <div class="productImage">
                            <img src="{{product.picture}}">
                        </div>
                    </a>
                    <div class="info">
                        <p>{{product.name}}</p>
                        <p>{{product.price}} Zł</p>
                    </div>
                </div>
            
            {%endfor%}
        </div>
    </main>






    <script>
        function sadFacesEverywhereSoSadImSoAlone(){
            $('.onionrank .rank').each(function(){
                var score = $(this).find('.score').html()
                if(score < 0){
                    $(this).find('.happy img').attr('src', '/deals/static/sadOnion.png')
                }else{
                    $(this).find('.happy img').attr('src', '/deals/static/onion.jpg')
                }
            })
        }

        $(document).ready(function(){
            sadFacesEverywhereSoSadImSoAlone();
            
            $('.sad').click(function(){
                var myid = $(this).parents('.product').attr('itemid');
                var me = $(this)
                $.get('sub/' + myid +'/', function(data){
                    var score = me.parents('.top').find('.score');
                    score.html(parseInt(score.html()) - 1)
                    me.parent().children().hide();

                    sessionStorage.setItem(myid,"1");
                
                })
            })

            $('.happy').click(function(){
                var myid = $(this).parents('.product').attr('itemid');
                var me = $(this)
                $.get('add/' + myid +'/', function(data){
                    var score = me.parents('.top').find('.score');
                    score.html(parseInt(score.html()) + 1)
                    me.parent().children().hide();

                    sessionStorage.setItem(myid,"1");
                    
                })
            })
        })
    </script>
{% endblock %}